<h3>Player 2 choose your move:</h3>

<button onclick="window.location.href = 'paper/rock';">Rock</button>
<button onclick="window.location.href = 'paper/paper';">Paper</button>
<button onclick="window.location.href = 'paper/scissors';">Scissors</button>
