<h3>Player 2 choose your move:</h3>

<button onclick="window.location.href = 'rock/rock';">Rock</button>
<button onclick="window.location.href = 'rock/paper';">Paper</button>
<button onclick="window.location.href = 'rock/scissors';">Scissors</button>
