<h3>Player 2 choose your move:</h3>

<button onclick="window.location.href = 'scissors/rock';">Rock</button>
<button onclick="window.location.href = 'scissors/paper';">Paper</button>
<button onclick="window.location.href = 'scissors/scissors';">Scissors</button>
